New_Techno/XML/std1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="student">
  <xs:complexType>
    <xs:sequence>
     	<xs:element name="lastname" type="xs:string"/>
		<xs:element name="age" type="xs:integer"/>
		<xs:element name="dateborn" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>